.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.nav {
    display: flex;
    gap: 1rem;
}

@media (min-width: 768px) {
    .nav {
        gap: 3rem;
    }
}